@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #000000;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;

  --color-yellow: rgba(253, 255, 0, 1);
  --color-red: rgba(204, 0, 0, 1); 
  --color-black: rgba(3, 0, 24, 1);
  --color-light: rgba(254, 255, 254, 1);
  --color-gradient: linear-gradient(180deg, #fff 0%, #8db1c7 100%);

  --border: #{rem(1)} solid var(--color-dark-15);

  --shadow: 0 0 0 #{rem(3)} #191919;

  --font-family-base: 'Onest', sans-serif;
  --font-family-accent: 'Courier Primere', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  --100vw: calc(100vw - var(--scrollbar-width));

  @include laptop {
    --container-width: #{rem(1280)};
  }
}